#header {
  background-color:#CFCFCF;
  padding:15px;
}

.highlight {
  border: 1px dashed brown;
  padding:5px;
}

.login_button {
  float:right;
}


/* Auto Complete */
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin:0;
  padding:0;
  border:1px solid #999;
}

ul.ui-autocomplete li {
  background-color: #fff;
  border-top: 1px solid #ddd;
  margin:0;
  padding:0;
}

ul.ui-autocomplete li a{
  color:#000;
  display:block;
  padding:3px;
}

ul.ui-autocomplete li a.ui-state-hover, ul.ui-autocomplete li a.ui-state-active{
  background-color:#fffcb2;
}

a.show_friends_list{
  cursor: pointer;
}